*{
  box-sizing: border-box;
}

button{
  cursor: pointer;
  background-color: #48484e;
  padding: 6px 8px;
  color: #d9dfdf;
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 0.7;
}

button:hover{
  opacity: 1;
}

.reveal.left-top section{
  text-align: left;
}

.reveal.left-top  .slides > section:first-child{
  text-align: center;
}


/* control module(control 模型) */
.control{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100px;
  opacity: 0;
  transition: opacity .3s;
}

.control .iconfont{
  font-size: 40px;
  color: #fff;
  display: inline-block;
  margin: 16px;
  cursor: pointer;
}

.control:hover{
  opacity: 1;
}
/* tip模型 */
.tip{
  position: fixed;
  top: 20px;
  left: 40%;
  z-index: 2;
  opacity: 0.4;
  color: #fff;
}


/* menu */
.menu {
  position: fixed;
  left: 0;
  z-index: 100;
  width: 180px;
  height: 100vh;
  background: #252f2d;
  color: #747c7c;
  transform: translateX(-100%);
  transition: transform .3s;
}

.menu.open{
  transform: translateX(0);
}

.menu .icon-close{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: color .3s;
}

.menu .icon-close:hover{
  color: #fff;
}

.menu .detail{
  margin-top: 50px;
}

.menu .detail .tab{
  display: flex;
  align-items: center;
  padding: 7px 20px;
  cursor: pointer;
}

.menu .detail .tab.active{
  color: #fff;
}

.menu .detail .iconfont{
  margin-right: 3px;
}


.menu .content{
  position: absolute;
  left: 180px;
  top: 0;
  z-index: 101;
  width: calc(100vw - 180px);
  height: 100vh;
  background: #212129;
  padding-bottom: 60px;
  font-size: 14px;
  transform: translateX(calc(100% + 180px));
  overflow: scroll;
  transition: transform .3s;
}

.menu.open .content.active{
  transform: translateX(0);
}


.menu .content{
  font-size: 40px;
  padding: 20px;
  border-bottom: 1px solid #425351;
}

.menu .content .body{
  padding: 20px;
}
 
.menu .content textarea{
  width: 100%;
  height: 400px;
  padding: 10px;
  background: #d9e4e3;
  border: none;
  color: #111;
}

.menu .editor [type=file]{
  display: none;
}

.menu .editor .uploader{
  padding: 10px 0;
  margin-top: 10px;
}

.menu .editor label{
  font-size: 16px;
  cursor: pointer;
}

.menu .content button{
  margin-top: 16px;
}

/* 主题 */
.menu .themes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}


.menu .themes figure{
  margin-top: 30px;
  text-align: center;
  opacity: 0.7;
  border: 4px solid transparent;
  transition: opacity .3s;
  cursor: pointer;
}

.menu .themes figure.select{
  opacity: 1;
  border: 4px solid #fff;
}

.menu .themes .figure img{
  width: 200px;
  height: 150px;
}

.menu .themes figcaption{
  margin-top: 10px;
}

.menu .themes figcaption{
  padding: 10px;
}

.menu .body h5{
  font-size: 21px;
  margin-top: 30px;
}

.menu .theme .transition,
.menu .theme .align{
  margin-top: 20px;
}

/* 演讲者模式 */
.menu .content .speaker>p{
  color: aliceblue;
  font-size: 20px;
}

/* 帮助 */

.menu .content .help>p{
  margin-top: 20px;
  font-size: 20px;
  color: aliceblue;
}